*{
    box-sizing: border-box;
}

:root{
    --main-color:#390449;
    --background-color:rgb(70, 67, 67);
}

body{
    background-color: var(--background-color);
    overflow-x: hidden;
    background-image: url("Images/abstract-7690589_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar{
    background-color: var(--background-color);
    width: 100%;
    position: fixed;
    padding: 2px;
    top: 0;
    left: 0;
    z-index: 3;
    flex-direction: row-reverse;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    justify-content: center;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    display: flex;
    align-items: center;
}
  
#navbar a:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

#welcome-section{
    width: 100%;
}

.backVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 95vh;
    z-index: -1;
    object-fit: cover;
  }

h1, h2, h3, h4, p{
    color: beige;
}

h1, h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 6vw;
    letter-spacing: 2px;
}

h2{
    font-size: 3.8vw;
    font-family: cursive;
    letter-spacing: 2px;
}

h3{
    font-size: 2.4vw;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-align: center;
    padding: 1%;
    background-color: var(--main-color);
    border: 2px solid rgb(177, 182, 187);
    border-radius: 10px;
}

h4{
    font-size: 1.7vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    letter-spacing: 2px;
    margin-top: 4%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

p, .top-P{
    font-size: 1.4vw;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.code{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    margin: 16px;
}

.websiteView{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
    text-align: center;
    margin-top: 0%;
}

#welcome-message{
    text-align: center;
    margin-top: 30vh;
}

#info-section{
    width: 100%;
    position: relative;
    margin-top: 14%;
    padding-top: 6%;
    padding-bottom: 6%;
    z-index: 2;
}

.info{
    width: 65vw;
    height: auto;
    margin-bottom: 5%;
    margin-left: 18vw;
    background-color: rgb(58, 53, 53);
    border: 2px solid var(--main-color);
    border-radius: 10px;
    margin-left: 16.5vw;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: center;
    text-align: justify;
}

p a{
    color: #b089bd;
}

.projectDiv{
    border-bottom: 2px solid #390449;
}

iframe{
    width: 50vw;
    height: 500px;
    margin-bottom: 2%;
    margin-left: 4vw;
}

@media only screen and (max-width: 1200px) {
    #info-section{
        margin-top: 23%;
    }

    .info{
        width: 70vw;
        margin-left: 15vw;
    }

    h1{
        font-size: 6.5vw;
    }
    p, .top-P{
        font-size: 2vw;
    }
  }


  @media only screen and (max-width: 1000px) {
    #info-section{
        margin-top: 30%;
    }

    h1{
        font-size: 7vw;
    }

    p{
        font-size: 2.2vw;
    }

    .top-P{
        font-size: 2.5vw;
    }

    iframe{
        width: 54vw;
        height: 420px;
        margin-left: 1.8vw;
    }
  }

  @media only screen and (max-width: 800px) {
    #info-section{
        margin-top: 25%;
    }

    .backVideo {
        height: 79vh;
    }

    h1{
        font-size: 7.5vw;
    }

    p{
        font-size: 2.2vw;
    }

    .top-P{
        font-size: 2.8vw;
    }

    iframe{
        width: 54vw;
        height: 350px;
        margin-left: 1.8vw;
    }
  }

  @media only screen and (max-width: 620px) {
    #info-section{
        margin-top: 20%;
    }

    #welcome-message{
        margin-top: 20vh;
    }

    .backVideo {
        height: 56vh;
    }

    h1{
        font-size: 7.7vw;
    }

    p{
        font-size: 2.2vw;
    }

    .top-P{
        font-size: 2.9vw;
    }

    .info{
        width: 78vw;
        margin-left: 11vw;
    }
    iframe{
        width: 65vw;
        height: 350px;
        margin-left: 1.8vw;
    }
    
  }

  @media only screen and (max-width: 500px) {
    #info-section{
        margin-top: 16%;
    }

    #welcome-message{
        margin-top: 14vh;
    }

    .backVideo {
        height: 40vh;
    }

    h1{
        font-size: 7.7vw;
    }

    p{
        font-size: 2.2vw;
    }

    .top-P{
        font-size: 2.9vw;
    }

    .info{
        width: 80vw;
        margin-left: 10vw;
    }

    iframe{
        width: 68vw;
        height: 200px;
        margin-left: 1.8vw;
    }
  }

  @media only screen and (max-width: 400px) {
    #info-section{
        margin-top: 13%;
    }

    #welcome-message{
        margin-top: 13vh;
    }

    .backVideo {
        height: 34vh;
    }

    h1{
        font-size: 7.6vw;
    }

    p{
        font-size: 2.2vw;
    }

    .top-P{
        font-size: 2.8vw;
    }

    iframe{
        width: 68vw;
        height: 180px;
        margin-left: 1.8vw;
    }
  }
