* {
    box-sizing: border-box;
    margin: 2;
    padding: 0;
}

body {
    margin-top: 6%;
    background-image: url("Images/istockphoto-875792826-612x612.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.page {
    width: 75%;
    margin-left: 10%;
    min-height: 264vh; 
    position: absolute;
    background-color: white;
    box-shadow: 6px 10px 28px 6px rgba(10, 10, 10, 0.4);
}

.name-bar {
    height: 35vh;
    background-color: #848484;
    padding: 2%;
    display: flex;
}

h1 {
    font-family: 'Garamond', 'serif';
    margin-top: 2rem;
    margin-left:  25vw;
    font-size: 5vw;
    letter-spacing: 8px;
}

.side-bar {
    position: absolute;
    top: 20px;
    margin-left: 2%;
    width: 20vw;
    max-height: 200vh;
    min-height: 238vh;
    background-color: #ffcccc;
    padding: 8% 2% 2%;
}

.picture {
    background-image: url(Images/Logo\ Image.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    top: 1%;
    left: 0;
    height: 25vh;
    width: 100%;
}

.address {
    margin: 2%;
}

.side-bar-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.6vw;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 10% auto 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #888;
}

.social {
    cursor: pointer;
}

.side-bar-list,
.social {
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 1vw;
    letter-spacing: 1px;
    padding-bottom: 2%;
}

.CV-link {
    font-size: 1.4vw;
    background-color: #a6a6a6;
    text-align: center;
    padding: 10px;
    margin-top: 13%;
}

a {
    color: black;
}

.content-container {
    margin-left: 20vw;
    width: 54vw;
    position: absolute;
    padding: 30px;
}

.title {
    text-align: center;
    font-size: 3vw;
    margin: 1%;
}

.separator {
    width: 22vw;
    height: 2px;
    background-color: #999;
    margin-bottom: 5%;
    margin-left: 28%
}

.greyBackground {
    padding: 4px;
    background-color: #DDD;
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8vw;
    letter-spacing: 2px;
}

.IntroParagraph {
    margin-top: 12px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 12px;
    text-align: justify;
    font-size: 1.2vw;
    line-height: 3.5vh;
}

.list {
    margin-left: 5%;
    padding: 0%;
    font-size: 1.2vw;
    letter-spacing: 1px;
}

li {
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Media query for smaller screens (e.g., mobile) */
@media screen and (max-width: 1000px) {
    body{background-repeat: repeat;}
  }
